/* OgrenciEkle.css */

.ogrenci-ekle-container {
  max-width: 400px;
  margin: auto;
}

.label-add {
  display: block;
  margin-bottom: 10px;
}

.input-add {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.button-add {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-add:hover {
  background-color: #45a049;
}
